/*socialed-style.css */
/* Own stylesheet for SocialED */

#container {
  font-family: sans-serif;
  padding-left: 20px;
  background-color: #FFFFFF; /* beige */
  flood-color: #2A2929; /* dark grey */
  margin: 10px;
}
a:link{
 color:black;
}

a:hover {
  color:green;
}
h1 {
   color:blue;
   font-size:20pt;


}

form {
padding: 20;

}

label {
  color: cadetblue;
}

.inputs {

  color: black;

}

